.shape {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  z-index: 9999;
}
@media (max-width: 1199.98px) {
  .shape:not(.shape-visible) {
    display: none;
  }
}
.shape svg,
.shape img {
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
  z-index: -1;
}

.shape-parent {
  position: relative;
  z-index: 0;
}