.card-bg--type-1 {
  background: -moz-linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
  background: -webkit-linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
  background: -o-linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
  background: -ms-linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
  background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
}

.card-bg--type-2 {
  background: -moz-linear-gradient(167.6deg, #E42C66 -9.78%, #F55B46 107.04%);
  background: -webkit-linear-gradient(167.6deg, #E42C66 -9.78%, #F55B46 107.04%);
  background: -o-linear-gradient(167.6deg, #E42C66 -9.78%, #F55B46 107.04%);
  background: -ms-linear-gradient(167.6deg, #E42C66 -9.78%, #F55B46 107.04%);
  background: linear-gradient(167.6deg, #E42C66 -9.78%, #F55B46 107.04%);
}

.card-bg--type-3 {
  background: -moz-linear-gradient(167.6deg, #5AC8FA -9.78%, #0078FF 107.04%);
  background: -webkit-linear-gradient(167.6deg, #5AC8FA -9.78%, #0078FF 107.04%);
  background: -o-linear-gradient(167.6deg, #5AC8FA -9.78%, #0078FF 107.04%);
  background: -ms-linear-gradient(167.6deg, #5AC8FA -9.78%, #0078FF 107.04%);
  background: linear-gradient(167.6deg, #5AC8FA -9.78%, #0078FF 107.04%);
}