$color-primary: #9B51E0;
$color-white: #FFFFFF;
$color-gray-rgb: 0, 0, 0, 0.125; 

$min-width: 360px;
$max-width: 1200px;

$body-font-family: 'Poppins', sans-serif;
$body-font-size: 1rem;
$base-padding: 1.5rem;
$base-border-radius: .45rem;

$border-color-rgb: rgba(0, 0, 0, 0.125);

$card-width: 425px;
$card-height: 270px;
$card-vertical-width: 230px;
$card-vertical-height: 300px;